{% extends 'index.html' %}

{% block title %}
<title>Cartelera</title>
{% endblock title %}

{% block main %}
<p>
        <a href={% url 'agregarpeli' %}>Crear pelicula</a>
</p>

<p>
        <form action={% url 'cartelera' %}>
        {{form}}
        <button>Buscar</button>
        </form>
</p>
{% if lista_pelicula|length == 0 %}
<br>
<h1>No se encontraron datos</h1>
<br>
{% else %}
        <ul>
                {% for pelicula in lista_pelicula %}
                <li>
                        {{pelicula.nombre}}, {{pelicula.categoria}}
                        <a href={% url 'mostrar_pelicula' pelicula.id %}>Mostrar</a>
                        <a href={% url 'editar_pelicula' pelicula.id %}>Editar</a>
                        <a href={% url 'eliminar_pelicula' pelicula.id %} onclick='return ConfirmDelete()'>Eliminar</a>
                </li>
                {% endfor %}
        </ul>

{% endif %}

{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Edite las peliculas en cartelera
{% endblock titulo_grande %}

