{% extends 'index.html' %}

{% block title %}
<title>Cartelera</title>
{% endblock title %}

{% block main %}
<ul>
        {% for pelicula in lista_pelicula %}
        <li>{{pelicula.nombre}},{{pelicula.categoria}}</li>
        {% endfor %}
</ul>
<div class="boton">
        <a class="btn btn-primary btn-xl text-uppercase" href={% url 'agregarpeli' %}>Editar las peículas en visualización</a>
</div>

{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Mira nuestra Cartelera
{% endblock titulo_grande %}

