{% extends 'index.html' %}

{% block title %}
<title>Edite un local</title>
{% endblock title %}

{% block main %}
<form action={% url 'editar_local' local.id %} method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <br>
    <button onclick='return ConfirmEdit()'>Editar</button>
    <button onclick='return CancelEdit()' action={% url 'locales_log' %}>Cancelar</button>

</form>

{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Edite un local
{% endblock titulo_grande %}

