{% extends 'index.html' %}

{% block title %}
<title>Locales</title>
{% endblock title %}

{% block main %}
<p>
        <a href={% url 'agregarlocal' %}>Crear local</a>
</p>
<p>
        <form action={% url 'locales' %}>
        {{form}}
        <button>Buscar</button>
        </form>
</p>
{% if  lista_locales|length == 0 %}
<br>
<h1>No se encontraron datos</h1>
<br>
{% else %}
        <ul>
                {% for locales in lista_locales %}
                <li>
                        {{locales.nombre}}, {{locales.direccion}}
                        <a href={% url 'mostrar_local' locales.id %}>Mostrar</a>
                        <a href={% url 'editar_local' locales.id %}>Editar</a>
                        <a href={% url 'eliminar_local' locales.id %} onclick='return ConfirmDelete()'>Eliminar</a>
                </li>
                {% endfor %}
        </ul>
{% endif %}

{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Edite los datos de los locales
{% endblock titulo_grande %}

