{% extends 'index.html' %}

{% block title %}
<title>Locales</title>
{% endblock title %}

{% block main %}
<ul>
        {% for locales in lista_locales %}
        <li>{{locales.nombre}}, {{locales.direccion}}</li>
        {% endfor %}
</ul>
<div class="boton">
        <a class="btn btn-primary btn-xl text-uppercase" href={% url 'agregarlocal' %}>Editar las locales en visualización</a>
</div>
{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Locales
{% endblock titulo_grande %}

