{% extends 'index.html' %}

{% block title %}
<title>Sobre nosotros</title>
{% endblock title %}

{% block main %}
<p>
        <br>
        <br>
        Esta página fue creada con el objetivo de simular una página web de un Cinema, fue creado por
        <ul>
                <li>Bryan Guerra</li>
                <li>Carlos Da Rocha</li>
        </ul>
</p>


{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Sobre nosotros
{% endblock titulo_grande %}

