{% extends 'index.html' %}

{% block title %}
<title>Confitería</title>
{% endblock title %}

{% block main %}
<ul>
        {% for objeto in lista_objeto %}
        <li>{{objeto.nombre}}</li>
        {% endfor %}
</ul>
<div class="boton">
        <a class="btn btn-primary btn-xl text-uppercase" href={% url 'agregarpeli' %}>Editar las productos en visualización</a>
</div>
{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Confitería
{% endblock titulo_grande %}

