{% extends 'index.html' %}

{% block title %}
<title>Confitería</title>
{% endblock title %}

{% block main %}
<ul>
        {% for producto in lista_productos %}
        <li>{{producto.nombre}}, {{producto.precio}}</li>
        {% endfor %}
</ul>
<div class="boton">
        <a class="btn btn-primary btn-xl text-uppercase" href={% url 'agregarprodu' %}>Editar las productos en visualización</a>
</div>
{% endblock main %}
    
{% block titulo_pequeno %}

{% endblock titulo_pequeno %}

{% block titulo_grande %}
Confitería
{% endblock titulo_grande %}

